.header-action-num {
  font-size: 12px !important;
  font-weight: 300;
  padding-top: 1px;
  padding-left: 1px;
  top: -5px !important;
  right: -8px !important;
  width: 22px !important;
  height: 22px !important;
}

.header-action-num-notCard {
  display: none !important;
}
