.header-action-num {
  font-size: 12px !important;
  font-weight: 300;
  padding-top: 1px;
  padding-left: 1px;
  top: -5px !important;
  right: -8px !important;
  width: 22px !important;
  height: 22px !important;
}

.header-action-num-notCard {
  display: none !important;
}

.pe-7s-menu:before {
  cursor: pointer;
}

.offcanvas.offcanvas-mobile-menu .offcanvas-close {
  width: 30px !important;
  height: 30px !important;
}

.menu-expand::before,
.menu-expand::after {
  position: absolute !important;
  top: calc(50% - 1px) !important;
  left: calc(50% - 7px) !important;
  width: 14px !important;
  height: 2px !important;
  content: "" !important;
  -webkit-transition: all 0.5s ease 0s !important;
  transition: all 0.5s ease 0s !important;
  -webkit-transform: scale(0.75) !important;
  transform: scale(0.75) !important;
  background-color: #000 !important;
}

span.sub-menu-text {
  font-size: 12px;
  margin-left: 15px;
}
::ng-deep address,
dl,
ol,
p,
pre,
ul {
  margin-bottom: 0px !important;
}
:host ::ng-deep .map-container iframe { 
  max-width: max-content;
  max-height: 20vh;
}