<!-- Footer Area Start -->
<div class="main-wrapper">
  <header>
    <!-- Header top area start -->
    <div class="header-top">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col">
            <div class="welcome-text">
              <p>Made by BamBooShop</p>
            </div>
          </div>
          <div class="col d-none d-lg-block">
            <div class="top-nav">
              <ul>
                <li><a href="tel:{{ website.PhoneNumber }}"><i class="fa fa-phone"></i>{{ website.PhoneNumber || null }}</a></li>
                <li><a href="mailto:{{ website.Email || null }}"><i class="fa fa-envelope-o"></i>{{ website.Email || null }}</a></li>
                <li><a routerLink="/tai-khoan"><i class="fa fa-user"></i> Account</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header top area end -->
    <!-- Header action area start -->
    <div class="header-bottom d-none d-lg-block">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-3 col">
            <div class="header-logo">
              <a routerLink="/">
                <img [src]="(website.ImageCloudLink == null? website.Logo : website.ImageCloudLink)| hostImageClient" alt="Site-logo" />
              </a>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="search-element">
              <form action="#">
                <input (keyup.enter)="search()" [(ngModel)]="keySearch" [ngModelOptions]="{ standalone: true }"
                  type="text" placeholder="Search"  (ngModelChange)="getAutoSearchData($event)"
                  [matAutocomplete]="auto" />
                <button (click)="search()"><i class="pe-7s-search"></i></button>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col">
            <div class="header-actions">
              <!-- Single Wedge Start -->
              <a routerLink="dang-nhap" class="header-action-btn offcanvas-toggle">
                <i class="pe-7s-back"></i>
              </a>
              <!-- Single Wedge End -->
              <a routerLink="/gio-hang" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0"
                *ngIf="getQtyItemInCart > 0; else notCart">
                <i class="pe-7s-cart"></i>
                <p class="header-action-num">{{ getQtyItemInCart }}</p>
                <!-- <span class="cart-amount">€30.00</span> -->
              </a>
              <ng-template #notCart>
                <a routerLink="/gio-hang" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                  <i class="pe-7s-cart"></i>
                </a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header action area end -->
    <!-- Header action area start -->
    <div class="header-bottom d-lg-none sticky-nav style-1">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-3 col">
            <div class="header-logo">
              <a href="index.html"><img src="assets/images/logo/bamboo.png" alt="Site Logo" /></a>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <div class="search-element">
              <form action="#">
                <input (keyup.enter)="search()" [(ngModel)]="keySearch" [ngModelOptions]="{ standalone: true }"
                  type="text" placeholder="Search" />
                <button (click)="search()"><i class="pe-7s-search"></i></button>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col">
            <div class="header-actions">
              <!-- Single Wedge Start -->
              <a routerLink="dang-nhap" class="header-action-btn offcanvas-toggle"><i class="pe-7s-back"></i></a>
              <!-- Single Wedge End -->
              <a routerLink="/gio-hang" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0"
                *ngIf="getQtyItemInCart > 0; else notCart">
                <i class="pe-7s-cart"></i>
                <span class="header-action-num">{{ getQtyItemInCart }}</span>
              </a>
              <ng-template #notCart>
                <a routerLink="/gio-hang" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                  <i class="pe-7s-cart"></i>
                  <!-- <span class="cart-amount">€30.00</span> -->
                </a>
              </ng-template>
              <a (click)="openSideNav()" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                <i class="pe-7s-menu"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header action area end -->

    <!-- header navigation area start -->
    <div class="header-nav-area d-none d-lg-block sticky-nav">
      <div class="container">
        <div class="header-nav">
          <div class="main-menu position-relative">
            <ul>
              <li class="dropdown" *ngFor="let menu of mainMenus">
                <ng-container *ngIf="menu.SubMenus == null || menu.SubMenus.length == 0;else elseTemplateMenu">
                  <a routerLink="/{{menu.Type == 'bai-viet' ? 'danh-muc-bai-viet/' : ''}}{{ menu.Alias }}" 
                    rel="noopener noreferrer">
                    {{ menu.Name }}
                  </a>
                </ng-container>
                <ng-template #elseTemplateMenu>
                  <a routerLink="{{menu.Alias}}">{{ menu.Name }} <i class="fa fa-angle-down"></i></a>
                  <ul class="sub-menu">
                    <li *ngFor="let item of menu?.SubMenus">
                      <a routerLink="/{{ item.Alias }}">{{ item.Name }}</a>
                    </li>
                  </ul>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- header navigation area end -->
    <div class="mobile-search-box d-lg-none">
      <div class="container">
        <!-- mobile search start -->
        <div class="search-element max-width-100">
          <form action="#">
            <input (keyup.enter)="search()" [(ngModel)]="keySearch" [ngModelOptions]="{ standalone: true }" type="text"
              placeholder="Search" />
            <button (click)="search()"><i class="pe-7s-search"></i></button>
          </form>
        </div>
        <!-- mobile search start -->
      </div>
    </div>
  </header>
  <div class="offcanvas offcanvas-mobile-menu" [ngClass]="{ 'offcanvas-open': menuStatus }">
    <button (click)="closeSideNav()" class="offcanvas-close"></button>
    <div class="user-panel">
      <ul>
        <li><a href="tel:{{ website.PhoneNumber }}"><i class="fa fa-phone"></i>{{ website.PhoneNumber || null }}</a></li>
        <li><a href="mailto:{{ website.Email || null }}"><i class="fa fa-envelope-o"></i>{{ website.Email || null }}</a></li>
        <li><a routerLink="/tai-khoan"><i class="fa fa-user"></i> Account</a></li>
      </ul>
    </div>
    <div class="inner customScroll">
      <div class="offcanvas-menu mb-4">
        <ul>
          <li *ngFor="let menu of mainMenus">
            <ng-container *ngIf="menu.SubMenus == null || menu.SubMenus.length == 0;else elseTemplateMenuMobile">
              <a routerLink="/{{menu.Type == 'bai-viet' ? 'danh-muc-bai-viet/' : ''}}{{ menu.Alias }}" 
                rel="noopener noreferrer">
                <span class="menu-text">{{ menu.Name }}</span>
              </a>
            </ng-container>
            <ng-template #elseTemplateMenuMobile>
              <a routerLink="{{menu.Alias}}">{{ menu.Name }}
                <i class="fa fa-angle-down" style="float: right;" (click)="openSubMenu(menu.Alias)" ></i>
              </a>
              <ul style="display: none;" id="{{menu.Alias}}">
                <li *ngFor="let item of menu?.SubMenus">
                  <a routerLink="/{{ item.Alias }}"><span class="sub-menu-text">{{ item.Name }}</span>
                  </a>
                </li>
              </ul>
            </ng-template>
          </li>       
        </ul>
      </div>
    </div>
  </div>
  <!-- OffCanvas Menu End -->
  <router-outlet></router-outlet>

  <!-- Footer Area Start -->
  <div class="footer-area">
    <div class="footer-container">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <!-- Start single blog -->
            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
              <div class="single-wedge">
                <div class="footer-logo">
                  <a href="index.html">
                    <img src="{{ website.Logo | hostImageClient }}" />
                  </a>
                </div>
                <div class="mg-t single-wedge map-container">
                  <div [innerHTML]="website.Location | safe: 'html'"></div>
                </div>
                <ul class="link-follow">
                  <li>
                    <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr"
                        aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter"
                        aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram"
                        aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End single blog -->
            <!-- Start single blog -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
              <div class="single-wedge">
                <h4 class="footer-herading">Information</h4>
                <div class="footer-links">
                  <div class="footer-row">
                    <ul class="align-items-center">
                      <li class="li" *ngFor="let item of subMenus">
                        <p *ngIf="item.Articles != null && item.Articles.length > 0">
                          <a class="single-link" routerLink="/thong-tin/{{ item.Articles[0].Alias }}">{{ item.Name}}</a>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single blog -->
            <!-- Start single blog -->
            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
              <div class="single-wedge">
                <h4 class="footer-herading">My Account</h4>
                <div class="footer-links">
                  <div class="footer-row">
                    <ul class="align-items-center">
                      <li class="li">
                        <a class="single-link" routerLink="/profile">My Account</a>
                      </li>
                      <li class="li">
                        <a class="single-link" href="contact.html">Contact</a>
                      </li>
                      <li class="li">
                        <a class="single-link" href="/gio-hang">Shopping cart</a>
                      </li>
                      <li class="li">
                        <a class="single-link" href="/">Shop</a>
                      </li>
                      <li class="li">
                        <a class="single-link" href="/dang-nhap">Services Login</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End single blog -->
            <!-- Start single blog -->
            <div class="col-md-6 col-lg-3 col-sm-12">
              <div class="single-wedge">
                <h4 class="footer-herading">Contact Info</h4>
                <div class="footer-links">
                  <!-- News letter area -->
                  <p class="phone">Phone/Fax:<a href="tel:{{ website.PhoneNumber }}">{{ website.PhoneNumber }}</a></p>
                  <p class="mail">Email:<a href="mailto:{{ website.Email }}">{{ website.Email }}</a></p>
                  <p class="mail">Addresses:<a href=""> {{ website.Address }}</a></p>
                  <!-- News letter area  End -->
                </div>
              </div>
            </div>
            <!-- End single blog -->
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="line-shape-top line-height-1">
            <div class="row flex-md-row-reverse align-items-center">
              <div class="col-md-6 text-center text-md-end">
                <div class="payment-mth">
                  <a href="#"><img class="img img-fluid" src="assets/images/icons/payment.png"
                      alt="payment-image" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Area End -->
</div>