<!-- offcanvas overlay start -->
<div class="offcanvas-overlay"></div>
<!-- offcanvas overlay end -->

<div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xl-4 mb-50px" *ngFor="let item of menu?.Articles">
        <div class="single-blog">
          <div class="blog-image">
            <a routerLink="/bai-viet/{{item.Alias}}">
              <img [src]="(item.ImageCloudLink==null? item.Image: item.ImageCloudLink)| hostImageClient"
                class="img-responsive w-100" alt="" />
            </a>
          </div>
          <div class="blog-text">
            <div class="blog-athor-date line-height-1">
              <span class="blog-date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{item.Created | date:'dd/MM/yyyy'}}
              </span>
              <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Wild
                  Nick</a></span>
            </div>
            <h5 class="blog-heading">
              <a class="blog-heading-link" routerLink="/bai-viet/{{item.Alias}}">{{ item.Title }}</a>
            </h5>
            <p>
              Mô tả ở đây
            </p>
            <a routerLink="/bai-viet/{{item.Alias}}" class="btn btn-primary blog-btn">
              Read More</a>
          </div>
        </div>
      </div>
      <!-- End single blog -->
    </div>
    <!--  Pagination Area Start -->
    <div class="pro-pagination-style text-center mt-0 mb-0" data-aos="fade-up" data-aos-delay="200">
      <div class="pages">
        <ul>
          <li class="li">
            <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
          </li>
          <li class="li"><a class="page-link active" href="#">1</a></li>
          <li class="li"><a class="page-link" href="#">2</a></li>
          <li class="li"><a class="page-link" href="#">3</a></li>
          <li class="li">
            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!--  Pagination Area End -->
  </div>
</div>
<!-- Blag Area End -->