<!-- <nz-breadcrumb>
    <nz-breadcrumb-item>
        <i nz-icon nzType="home"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        Thuộc tính sản phẩm
    </nz-breadcrumb-item>
</nz-breadcrumb> -->
<div nz-row class="mg-t">
  <!-- <div nz-col nzSpan="10">
    <nz-form-item>
      <nz-form-label>Từ khóa tìm kiếm</nz-form-label>
      <nz-form-control>
        <input (keyup.enter)="getData()" [(ngModel)]="filter.keySearch" type="text" nz-input nzSize="small" placeholder="Tên" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="14">
    <nz-form-item>
      <nz-form-control>
        <button (click)="getData()" nz-button nzSize="small" nzType="primary">
          <i nz-icon nzType="search" nzTheme="outline"></i> Tìm kiếm </button>
        <button (click)="addNew()" nz-button nzSize="small" nzType="primary">
          <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới </button>
      </nz-form-control>
    </nz-form-item>
  </div> -->
  <div class="header-content">
    <!-- <input nz-input type="text" placeholder="Basic usage" nzSize="default" (keyup.enter)=" getData()" [(ngModel)]="filter.keySearch" /> -->
    <div class="input-product-header">
      <div class="m-b-10 m-r-20 search-product">
        <nz-input-group [nzPrefix]="prefixTemplate">
          <input type="text" nz-input placeholder="Tìm kiếm" [(ngModel)]="filter.keySearch" (ngModelChange)="getData()">
        </nz-input-group>
        <ng-template #prefixTemplate>
          <i nz-icon nzType="search" class="opacity-05"></i>
        </ng-template>
      </div>
    </div>
    <div class="add-product-wrap">
      <button (click)="addNew()" nz-button nzType="primary" class="add-product">
        <i nz-icon nzType="plus-circle" theme="outline"></i>
        <span>Thêm mới</span>
      </button>
    </div>
  </div>
  <div nz-col nzSpan="24" class="mg-t">
    <nz-table #tblData [nzData]="datas" [nzPageSize]="12">
      <thead>
        <tr>
          <th>Tên thuộc tính</th>
          <th style="width:160px" class="text-center">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tblData.data">
          <td>{{ data.Name }}</td>
          <td class="text-center">
            <!-- <button (click)="showDetail(data)" nz-button nzSize="small" class="mg-r"> Xem chi tiết </button>
            <button nz-popconfirm nzPopconfirmTitle="Xác nhận xóa?" (nzOnConfirm)="delete(data)" nzPopconfirmPlacement="topRight" nz-button nzDanger
              nzType="primary" nzSize="small"> Xóa </button> -->
            <button class="m-r-5" (click)="showDetail(data)" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Edit">
              <i nz-icon nzType="edit" theme="outline"></i>
            </button>
            <button nz-button nz-popconfirm nzPopconfirmTitle="Xác nhận xóa?" (nzOnConfirm)="delete(data)" nzPopconfirmPlacement="topRight"
              nzType="default" nzDanger nzShape="circle" nz-tooltip nzTooltipTitle="Delete">
              <i nz-icon nzType="delete" theme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<app-attribute-detail #frmDetail (onSubmit)="onSubmit($event)"></app-attribute-detail>
<ngx-spinner></ngx-spinner>
