<!-- Cart Area Start -->
<div class="cart-main-area pt-100px pb-100px" *ngIf="getTotalAmount > 0; else noCart">
  <div class="container">
    <h3 class="cart-page-title">Your cart items</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <form action="#">
          <div class="table-content table-responsive cart-table-content">
            <table>
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product Name</th>
                  <th>Attributes</th>
                  <th>Until Price</th>
                  <th>Qty</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody *ngFor="let product of orderDetail; index as index">
                <tr>
                  <td class="product-thumbnail">
                    <a routerLink="/san-pham/{{ product.ProductAlias }}">
                      <img class="img-responsive"
                        [src]="(product.ImageCloudLink == null?product.ProductImage: product.ImageCloudLink)| hostImageClient"
                        alt="" /></a>
                  </td>
                  <td class="product-name">
                    <a routerLink="/san-pham/{{ product.ProductAlias }}">
                      {{ product.ProductName }}
                    </a>
                  </td>
                  <td class="product-attribute-cart" *ngIf="product.Attributes.length >= 1; else noAttribute">
                    <div class="pro-details-color-size d-flex" *ngFor="let attributes of product?.Attributes;index as attributeIndex">
                      <!-- Right Side Start -->
                      <div class="select-shoing-wrap d-flex align-items-center">
                        <div class="shot-product">
                          <p>{{ attributes.Name }}:</p>
                        </div>
                        <div class="shop-select">
                          <select class="shop-sort" #attributeSelected (change)="
                              chooseAttribute(
                                index,
                                attributeIndex,
                                $event,
                                attributes.ProductAttributes
                              )
                            ">
                            <option [value]="productAttributeIndex" [selected]="item.Checked" *ngFor="
                                let item of attributes.ProductAttributes;
                                index as productAttributeIndex
                              ">
                              {{ item.Value }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- Right Side End -->
                    </div>
                  </td>

                  <ng-template #noAttribute>
                    <td class="product-attribute-cart">
                      <span>None</span>
                    </td>
                  </ng-template>
                  <td class="product-price-cart">
                    <span class="amount">${{ product.ProductDiscountPrice | number }}</span>
                  </td>
                  <td class="product-quantity">
                    <div class="wrapper">
                      <button class="plusminus-minus" (click)="handleQty(index, -1)">
                        -
                      </button>
                      <input type="number" class="number-input" [value]="product.Qty"
                        (change)="handleQty(index, 0, $event)" />
                      <button class="plusminus-plus" (click)="handleQty(index, 1)">
                        +
                      </button>
                    </div>
                  </td>
                  <td class="product-subtotal">
                    ${{ product.ProductDiscountPrice * product.Qty | number }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="cart-shiping-update-wrapper">
                <div class="cart-shiping-update">
                  <a routerLink="/">Continue Shopping</a>
                </div>
                <div class="cart-clear">
                  <button routerLink="/gio-hang-trong" (click)="clearCart()">
                    Clear Shopping Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form nz-form [formGroup]="formData" (ngSubmit)="submitForm()">
          <div class="row row-detail-order">
            <div class="col-lg-7">
              <div class="billing-info-wrap">
                <h3>Billing Details</h3>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="billing-info mb-4">
                      <label>Full Name</label>
                      <span class="text-red">(*)</span>
                      <input formControlName="FullName" required />
                      <small *ngIf="
                          formData.get('FullName')?.invalid &&
                          formData.get('FullName')?.touched
                        " class="text-danger">
                        * Full Name is required
                      </small>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info mb-4">
                      <label>Phone</label>
                      <span class="text-red">(*)</span>
                      <input formControlName="PhoneNumber" required />
                      <small *ngIf="
                          formData.get('PhoneNumber')?.invalid &&
                          formData.get('PhoneNumber')?.touched
                        " class="text-danger">
                        * Please enter the correct phone number format
                      </small>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="billing-info mb-4">
                      <label>Email</label>
                      <input type="text" formControlName="Email" required />
                      <small *ngIf="
                          formData.get('Email')?.invalid &&
                          formData.get('Email')?.touched
                        " class="text-danger">
                        * Please enter the correct email format
                      </small>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="billing-select mb-4">
                      <label>City</label>
                      <span class="text-red">(*)</span>
                      <select formControlName="City" (change)="changeCity($event)">
                        <option *ngFor="let city of cities" value="{{ city.name }}">
                          {{ city.name }}
                        </option>
                      </select>
                      <small *ngIf="
                          formData.get('City')?.invalid &&
                          formData.get('City')?.touched
                        " class="text-danger">
                        * City is required
                      </small>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="billing-select mb-4">
                      <label>District</label>
                      <span class="text-red">(*)</span>
                      <select formControlName="District">
                        <option *ngFor="let data of district" value="{{ data }}">
                          {{ data }}
                        </option>
                      </select>
                      <small *ngIf="
                          formData.get('District')?.invalid &&
                          formData.get('District')?.touched
                        " class="text-danger">
                        * District is required
                      </small>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="billing-info mb-4">
                      <label>Street Address</label>
                      <span class="text-red">(*)</span>
                      <input formControlName="Address" required />
                      <small *ngIf="
                          formData.get('Address')?.invalid &&
                          formData.get('Address')?.touched
                        " class="text-danger">
                        * Street Address is required
                      </small>
                    </div>
                  </div>
                </div>
                <div class="additional-info-wrap">
                  <h4>Additional information</h4>
                  <div class="additional-info">
                    <label>Order notes</label>
                    <nz-form-control>
                      <textarea formControlName="Note" rows="2"></textarea>
                    </nz-form-control>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 mt-md-30px mt-lm-30px">
              <div class="your-order-area">
                <h3>Your order</h3>
                <div class="your-order-wrap gray-bg-4">
                  <div class="your-order-product-info">
                    <div class="your-order-top">
                      <ul>
                        <li>Product</li>
                        <li>Total</li>
                      </ul>
                    </div>
                    <div class="your-order-middle">
                      <ul>
                        <li *ngFor="let product of orderDetail">
                          <span class="order-middle-left">{{ product.ProductName }}
                          </span>
                          <span class="order-quantity-quantity">
                            X {{ product.Qty }}
                          </span>
                          <span class="order-price">${{
                            product.ProductDiscountPrice * product.Qty
                            | number
                            }}
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="your-order-total">
                      <ul>
                        <li class="order-total">Total</li>
                        <li>${{ getTotalAmount | number }}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="payment-method">
                    <div class="payment-accordion element-mrg">
                      <div id="faq" class="panel-group">
                        <div class="panel panel-default single-my-account m-0">
                          <div class="panel-heading my-account-title">
                            <h4 class="panel-title">
                              <a data-bs-toggle="collapse" href="#my-account-1" class="collapsed"
                                aria-expanded="true">Direct bank transfer</a>
                            </h4>
                          </div>
                          <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                            <div class="panel-body">
                              <p>
                                Please send a check to Store Name, Store Street,
                                Store Town, Store State / County, Store
                                Postcode.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default single-my-account m-0">
                          <div class="panel-heading my-account-title">
                            <h4 class="panel-title">
                              <a data-bs-toggle="collapse" href="#my-account-2" (click)="showPaypal()"
                                aria-expanded="false" class="collapsed">Check payments</a>
                            </h4>
                          </div>
                          <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                            <div class="panel-body">
                              <p>
                                Please send a check to Store Name, Store Street,
                                Store Town, Store State / County, Store
                                Postcode.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default single-my-account m-0">
                          <div class="panel-heading my-account-title">
                            <h4 class="panel-title">
                              <a data-bs-toggle="collapse" (click)="showCashPayment()" href="#my-account-3">Cash on
                                delivery</a>
                            </h4>
                          </div>
                          <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">
                            <div class="panel-body">
                              <p>
                                Please send a check to Store Name, Store Street,
                                Store Town, Store State / County, Store
                                Postcode.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="Place-order mt-25" [style.display]="isCashOnDelivery">
                  <button type="submit" class="btn-submit">Place Order</button>
                </div>
                <br />
                <div class="place-order mt-25" [style.display]="isPaypalPayment">
                  <div id="myPaypalButtons" #paypalRef></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #noCart>
  <app-empty-card></app-empty-card>
</ng-template>
<!-- Cart Area End -->