<div class="login-register-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-title">
            <h4>Login</h4>
          </div>
          <div class="tab-content">
            <div id="lg1" class="tab-pane active">
              <div class="login-form-container">
                <div class="login-register-form">
                  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                    <div class="email-login">
                      <input type="text" name="user-name" email formControlName="Email" placeholder="Email" required />
                      <small *ngIf="formData.get('Email')?.invalid && formData.get('Email')?.touched" class="text-danger">
                        * Please enter the correct email format
                      </small>
                    </div>
                    <div class="password-login">
                      <input type="password" name="user-password" formControlName="Password" placeholder="Password"
                        required />
                      <small *ngIf="formData.get('Password')?.invalid && formData.get('Password')?.touched" class="text-danger">
                        * Please fill out the password field and mini length is 5
                      </small>
                    </div>
                    <div class="button-box">
                      <div class="login-toggle-btn">
                        <a class="flote-none">
                          <input formControlName="Remember" type="checkbox" name="remember-user" />
                          Remember me
                        </a>
                        <a routerLink="/quen-mat-khau">Forgot Password?</a>
                      </div>
                      <div class="login-area-button">
                        <button type="submit" class="login-button">
                          <span>Login</span>
                        </button>
                      </div>
                      <div class="text-or">
                        <span>OR</span>
                      </div>
                      <div class="social-login-area">
                        <div class="facbook-login">
                          <button>
                            <i class="fa fa-facebook" style="font-size: 21px; color: white"></i>
                            <span>Facebook</span>
                          </button>
                        </div>
                        <div class="google-login">
                          <button (click)="loginWithGoogle()">
                            <i class="fa fa-google-plus" style="font-size: 21px; color: white"></i>
                            <span>Google</span>
                          </button>
                        </div>
                      </div>
                      <div class="text-register">
                        <span>Do not have an account?</span>
                        <a routerLink="/dang-ky"> Register > </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login area end -->