<!-- sign-up area start -->
<div class="login-register-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-title">
            <h4>ĐĂNG KÝ</h4>
          </div>
          <div class="tab-content">
            <div id="lg1" class="tab-pane active">
              <div class="login-form-container">
                <mat-horizontal-stepper linear #myStepper>
                  <mat-step [editable]="false">
                    <ng-template matStepLabel> Đăng ký </ng-template>
                    <div class="login-register-form">
                      <form [formGroup]="formMail" (ngSubmit)="requestOTP()">
                        <div class="email-register">
                          <input type="text" email formControlName="Email" placeholder="Email" required />
                          <<<<<<< HEAD <small *ngIf=" formMail.get('Email')?.invalid && formMail.get('Email')?.touched" class="text-danger"> * Please
                            enter the correct email format </small> ======= <small
                              *ngIf=" formMail.get('Email')?.invalid && formMail.get('Email')?.touched" class="text-danger"> * Email không chính xác
                            </small> >>>>>>> Sakifire/VietSub
                        </div>
                        <div class="button-box">
                          <div class="login-area-button">
                            <button type="submit" class="login-button">
                              <span> Tiếp</span>
                            </button>
                          </div>
                          <div class="text-or">
                            <span>Hoặc</span>
                          </div>
                          <div class="social-login-area">
                            <div class="facbook-login">
                              <button>
                                <i class="fa fa-facebook" style="font-size: 21px; color: white"></i>
                                <span>Facebook</span>
                              </button>
                            </div>
                            <div class="google-login">
                              <button (click)="signInWithGoogle()">
                                <i class="fa fa-google-plus" style="font-size: 21px; color: white"></i>
                                <span>Google</span>
                              </button>
                            </div>
                          </div>
                          <div class="text-register">
                            <a routerLink="/dang-nhap">
                              < Back to Login </a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-step>
                  <mat-step [editable]="false">
                    <ng-template matStepLabel> Xác nhận Email </ng-template>
                    <div class="login-register-form">
                      <form [formGroup]="formOTP" (ngSubmit)="confirmOTP()">
                        <div class="email-register">
                          <input type="text" formControlName="OTP" placeholder="OTP" required />
                          <<<<<<< HEAD <small *ngIf="formOTP.get('OTP')?.invalid && formOTP.get('OTP')?.touched" class="text-danger"> * OTP không được
                            bỏ trống! ======= <small *ngIf="formOTP.get('OTP')?.invalid && formOTP.get('OTP')?.touched" class="text-danger"> * Nhập mã
                              OTP trong hòm thư của bạn >>>>>>> Sakifire/VietSub </small>
                        </div>
                        <div class="button-box">
                          <div class="login-area-button">
                            <button type="submit" class="login-button">
                              <span>Xác nhận</span>
                            </button>
                          </div>
                          <div class="text-register">
                            <a routerLink="/dang-nhap">
                              < Quay lại đăng nhập </a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-step>
                  <mat-step [editable]="false">
                    <ng-template matStepLabel class="steps-title">Hoàn tất</ng-template>
                    <div class="login-register-form">
                      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                        <div class="email-register">
                          <input type="email" formControlName="Email" placeholder="Email" />
                        </div>
                        <div class="email-register">
                          <input type="text" formControlName="FullName" placeholder="Họ và tên" />
                          <small *ngIf=" formData.get('FullName')?.invalid && formData.get('FullName')?.touched" class="text-danger"> * Họ và tên
                            không được bỏ trống! </small>
                        </div>
                        <div class="email-register">
                          <input type="password" formControlName="Password" placeholder="Nhập mật khẩu" />
                          <small *ngIf="formData.get('Password')?.invalid && formData.get('Password')?.touched" class="text-danger"> * Nhập mật khẩu
                            với ít nhất 5 ký tự </small>
                        </div>
                        <div class="email-register">
                          <input type="password" formControlName="Nhập lại mật khẩu" placeholder="Re-enter Password" />
                          <small *ngIf="formData.get('RePassword')?.invalid && formData.get('RePassword')?.touched" class="text-danger"> * Nhập lại
                            mật khẩu với ít nhất 5 ký tự </small>
                        </div>
                        <div class="email-register">
                          <input type="text" formControlName="PhoneNumber" placeholder="Số điện thoại" />
                          <small *ngIf="formData.get('PhoneNumber')?.invalid && formData.get('PhoneNumber')?.touched" class="text-danger"> * Nhập đúng
                            định dạng số điện thoại</small>
                        </div>
                        <div class="button-box">
                          <div class="login-area-button">
                            <button type="submit" class="login-button">
                              <span>Đăng ký</span>
                            </button>
                          </div>
                          <div class="text-register">
                            <a routerLink="/dang-nhap">
                              < Quay lại đăng nhập </a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-step>
                </mat-horizontal-stepper>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
