<div class="order-detail-main-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <form action="#">
          <div class="table-content table-responsive cart-table-content">
            <table>
              <thead>
                <tr>
                  <th>Ảnh</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá cả</th>
                  <th>Thuộc tính</th>
                  <th>Số lượng</th>
                  <th>Tổng</th>
                  <th *ngIf="data.Status == 40">Review</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.OrderDetails">
                  <td class="product-thumbnail">
                    <a>
                      <img class="img-responsive img-size ml-15px" 
                      [src]="(item.ImageCloudLink == null ? item.ProductImage : item.ImageCloudLink) | hostImageClient" alt="" />
                    </a>
                  </td>
                  <td class="product-name">
                    <a>{{item.ProductName}}</a>
                  </td>
                  <td class="product-price-cart">
                    <span class="amount">{{item.ProductPrice}}</span>
                  </td>
                  <td class="product-attributes">
                    <div [innerHTML]="item.Attribute"> </div>
                  </td>
                  <td class="product-quantity">
                    <a>{{item.Qty}}</a>
                  </td>
                  <td class="product-subtotal">
                    {{item.Qty * item.ProductPrice}}
                  </td>
                  <td *ngIf="data.Status == 40">
                    <a class="view" (click)="review(item)"> Xem
                      <a
                        *ngIf="(item.Reviews != null && item.Reviews.length > 0) || item.IsReview; else elseTemplate">/Đã đánh giá</a>
                      <ng-template #elseTemplate>
                        <a>/Chưa đánh giá</a>
                      </ng-template>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <div class="total-order-wrapper">
            Tổng cộng hóa đơn: {{paidStatus(data.IsPaid)}}
            <span class="total-order"> {{data.TotalAmount}}</span>
          </div>
          <br>
          <div class="review-container" *ngIf="isVisibleModal">
            <div class="review-title"><span>Chi tiết</span></div>
            <br>
            <div class="table-content table-responsive cart-table-content">
              <table>
                <thead>
                  <tr>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá cả</th>
                    <th>Thuộc tính</th>
                    <th>Số lượng</th>
                    <th>Đánh giá</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="product-thumbnail">
                      <a>
                        <img class="img-responsive img-size ml-15px" alt=""
                          [src]="(orderDetailSelected.ImageCloudLink == null? orderDetailSelected.ProductImage : orderDetailSelected.ImageCloudLink) | hostImageClient"/>
                        </a>
                    </td>
                    <td class="product-name">
                      <a>{{orderDetailSelected.ProductName}}</a>
                    </td>
                    <td class="product-price-cart">
                      <span class="amount">{{orderDetailSelected.ProductPrice}}</span>
                    </td>
                    <td class="product-attributes">
                      <div [innerHTML]="orderDetailSelected.Attribute"> </div>
                    </td>
                    <td class="product-quantity">
                      <a>{{orderDetailSelected.Qty}}</a>
                    </td>
                    <td class="rating">
                      <a>
                        <ngb-rating [max]="5" [(rate)]="reviewModel.Star">
                          <ng-template let-fill="fill">
                            <span class="defaultHert-review" [class.filled]="fill === 100">
                              <span class="paintHeart" [style.width.%]="fill"> &#9733; </span> &#9733;
                            </span>
                          </ng-template>
                        </ngb-rating>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <textarea cols="80" rows="4" [(ngModel)]="reviewModel.Content" name="ProductReview"
                placeholder="Nhập bình luận và nhận xét ở đây ...">
            </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="order-shiping-update-wrapper">
                <div class="order-shiping-update">
                  <button *ngIf="data.Status==10 || data.Status == 20 || data.Status == 30; else delivered"
                    (click)="cancelOrder()">Hủy đơn hàng</button>
                  <ng-template #delivered>
                    <button *ngIf="data.Status == 40 && isVisibleModal" (click)="confirmReview()" style="margin-right: 30px;">Gửi</button>
                    <button *ngIf="data.Status == 40 && isVisibleModal" (click)="closeReview()">Đóng nhận xét</button>
                  </ng-template>

                </div>
                <div class="order-close">
                  <button (click)="close()">Đóng đơn hàng</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cart Area End -->