<!-- Hero/Intro Slider Start -->
<div class="section">
  <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
    <app-carousel [images]="mainBanner" [autoSlide]="true"></app-carousel>
  </div>
</div>
<div class="product-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center pt-70px">
          <h2 class="title">Sản phẩm nổi bật</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="newarrivals">
            <div class="row mb-n-30px">
              <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px" *ngFor="let item of productSelling">
                <app-product-template [product]="item"></app-product-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature-product-area" *ngFor="let menu of menuHomePages">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center pt-70px">
          <a routerLink="/{{ menu.Alias }}">
            <h2 class="title"> {{ menu.Name }} </h2>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px" *ngFor="let item of menu.Products">
        <app-product-template [product]="item"></app-product-template>
      </div>
    </div>
  </div>
</div>
<div class="main-blog-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center mb-30px0px pt-70px">
          <a routerLink="/danh-muc-bai-viet">
            <h2 class="title">Bài viết gần đây</h2>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6 mb-xs-30px" *ngFor="let article of highlightArticle">
        <app-article-template [article]="article"></app-article-template>
      </div>
    </div>
  </div>
</div>
<!-- Blog area end here -->
