<!-- offcanvas overlay start -->
<div class="offcanvas-overlay"></div>
<!-- offcanvas overlay end -->
<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
  <div class="inner">
    <div class="head">
      <span class="title">Wishlist</span>
      <button class="offcanvas-close">×</button>
    </div>
    <div class="body customScroll">
      <ul class="minicart-product-list">
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/1.webp"
              alt="Cart product Image" /></a>
          <div class="content">
            <a href="single-product.html" class="title">Modern Smart Phone</a>
            <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/2.webp"
              alt="Cart product Image" /></a>
          <div class="content">
            <a href="single-product.html" class="title">Bluetooth Headphone</a>
            <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
        <li>
          <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp"
              alt="Cart product Image" /></a>
          <div class="content">
            <a href="single-product.html" class="title">Smart Music Box</a>
            <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
            <a href="#" class="remove">×</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="foot">
      <div class="buttons">
        <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
      </div>
    </div>
  </div>
</div>
<!-- OffCanvas Wishlist End -->
<!-- OffCanvas Cart Start -->
<!-- OffCanvas Cart End -->
<!-- OffCanvas Menu Start -->
<!-- OffCanvas Menu End -->
<!-- Hero/Intro Slider Start -->
<!-- Hero/Intro Slider End -->
<!-- Banner Area Start -->
<!-- Banner Area End -->
<!-- Product Area Start -->
<div class="product-area">
  <div class="container">
    <!-- Section Title & Tab Start -->
    <div class="row">
      <div class="col-12">
        <!-- Tab Start -->
        <div class="tab-slider d-md-flex justify-content-md-between align-items-md-center">
          <ul class="product-tab-nav nav justify-content-start align-items-center">
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="newarrivals">
                Nổi bật
              </button>
            </li>
          </ul>
        </div>
        <!-- Tab End -->
      </div>
    </div>
    <!-- Section Title & Tab End -->
    <div class="row">
      <div class="col">
        <div class="tab-content mt-60px">
          <!-- 1st tab start -->
          <div class="tab-pane fade show active" id="newarrivals">
            <div class="row mb-n-30px">
              <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px" *ngFor="let item of productSellings">
                <!-- Single Product -->
                <app-product-template [product]="item"></app-product-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End -->
<!-- Feature product area start -->
<div class="feature-product-area" *ngFor="let menu of menuHomePages">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <a routerLink="/{{ menu.Alias }}">
            <h2 class="title">
              {{ menu.Name }}
            </h2>
          </a>
          <p>There are many variations of passages of Lorem Ipsum available</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px" *ngFor="let item of menu.Products">
        <!-- Single Product -->
        <app-product-template [product]="item"></app-product-template>
      </div>
    </div>
  </div>
</div>
<!-- Feature product area End -->
<!-- Blog area start from here -->
<div class="main-blog-area">
  <div class="container">
    <!-- section title start -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center mb-30px0px">
          <a routerLink="/danh-muc-bai-viet">
            <h2 class="title">Latest Blog</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- section title start -->
    <div class="row">
      <div class="col-lg-6 col-sm-6 mb-xs-30px" *ngFor="let article of highlightArticle">
        <app-article-template [article]="article"></app-article-template>
      </div>
    </div>
  </div>
</div>
<!-- Blog area end here -->