<div class="body-auth">
    <div class="box-auth-container">
        <div class="img-wrap">
            <img src="assets/images/others/img-01.png" alt="IMG">
        </div>
        <form nz-form [formGroup]="formData" class="login-form" (ngSubmit)="onSubmit()">
            <span class="login100-form-title">ĐĂNG NHẬP</span>
            <div style="margin-bottom: 15px;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Không được để trống!">
                        <input type="text" class="input100" nz-input formControlName="UserName" placeholder="Tên tài khoản" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="margin-bottom: 25px;">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Không được để trống!">
                        <input type="password" class="input100" nz-input formControlName="Password" placeholder="Mật khẩu" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div>
                <button type="submit" class="login100-form-btn"> Đăng nhập </button>
            </div>
        </form>
    </div>
</div>
