<!-- forgot password area start -->
<div class="login-register-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-title">
            <h4>Forgot Password</h4>
          </div>
          <div class="tab-content">
            <div id="lg1" class="tab-pane active">
              <div class="login-form-container">
                <div class="login-register-form">
                  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="Email" placeholder="Email" required />
                    <div class="button-box">
                      <div class="login-area-button">
                        <button type="submit" class="login-button">
                          <span>Send Require</span>
                        </button>
                      </div>
                      <div class="social-login-area"></div>
                      <div class="text-register">
                        <a routerLink="/dang-nhap">
                          < Back to Login </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- forgot password area end -->