<!-- forgot password area start -->
<div class="login-register-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-title">
            <h4>QUÊN MẬT KHẨU</h4>
          </div>
          <div class="tab-content">
            <div id="lg1" class="tab-pane active">
              <div class="login-form-container">
                <div class="login-register-form">
                  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                    <div class="email-login">
                      <input type="text" formControlName="Email" placeholder="Email" required />
                      <small *ngIf="
                          formData.get('Email')?.invalid &&
                          formData.get('Email')?.touched
                        " class="text-danger"> * Please enter the correct email format </small>
                    </div>
                    <div class="button-box">
                      <div class="login-area-button">
                        <button type="submit" class="login-button">
                          <span>Gửi yêu cầu</span>
                        </button>
                      </div>
                      <div class="social-login-area"></div>
                      <div class="text-register">
                        <a routerLink="/dang-nhap">
                          < Quay lại đăng nhập </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- forgot password area end -->
