.header-content {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
::ng-deep .ant-input-prefix {
  margin-right: 0px !important;
}
.ant-input-affix-wrapper {
  border-radius: 5px;
  font-size: 15px !important;
  height: 40px;
}

.ant-input-affix-wrapper > input.ant-input {
  height: auto;
}
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px !important;
}
::ng-deep
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 40px !important;
  padding: 4px 16px;
}
.add-product {
  height: 40px;
  font-size: 15px;
}

.input-product-header {
  position: relative;
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.search-product {
  position: relative;
  width: 50%;
}
.select-product {
  position: relative;
  width: 30%;
}
.high-light-product {
  position: relative;
  width: 30%;
}
.add-product-wrap {
  position: relative;
}
.ant-row {
  display: block !important;
}
