<div class="select-filter-wrap d-flex align-items-center">
  <div class="shot-product"> Lọc: </div>
  <div class="filter-select">
    <select class="shop-sort" (change)="chooseAttribute($event)">
      <!-- <option data-display="Balck">Balck</option> -->
      <option [value]="item.value" *ngFor=" let item of orderStatus"> {{ item.name }} </option>
    </select>
  </div>
</div>
<br>
<div class="table_page table-responsive">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Ngày tháng</th>
        <th>Trạng thái</th>
        <th>Tổng tiền</th>
        <th>Thanh toán</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of orderFilter">
      <tr>
        <td>{{item.Id || null}}</td>
        <td>{{item.Created| date:'dd/MM/yyyy'|| null}}</td>
        <td><span class="success">{{filterOrderStatusName(item.Status)}}</span></td>
        <td>{{item.TotalAmount}}</td>
        <td><i *ngIf="item.IsPaid; else notPaid" class="fa fa-check"></i>
          <ng-template #notPaid><i class="fa fa-times"></i></ng-template>
        </td>
        <td><a (click)="view(item)" class="view">Xem</a></td>
      </tr>
    </tbody>
  </table>
</div>
