<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <!-- Nav tabs -->
        <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
          <ul role="tablist" class="nav flex-column dashboard-list">
            <li>
              <a href="#account-details" data-bs-toggle="tab" class="nav-link">Account details</a>
            </li>
            <li>
              <a href="#orders" data-bs-toggle="tab" class="nav-link">Orders</a>
            </li>
            <li>
              <a href="#change-password" data-bs-toggle="tab" class="nav-link">Change Password</a>
            </li>
            <li><a routerLink="/dang-xuat" class="nav-link">logout</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-9">
        <!-- Tab panes -->
        <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
          <div class="tab-pane fade show active" id="account-details">
            <div class="login">
              <div class="login_form_container">
                <div class="account_login_form">
                  <form [formGroup]="formData" (ngSubmit)="submitForm()">
                    <div class="default-form-box mb-20">
                      <label>Email</label>
                      <input type="text" formControlName="Email" name="email" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Full Name</label>
                      <input type="text" formControlName="FullName" name="fullName" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Phone Number</label>
                      <input type="text" formControlName="PhoneNumber" name="phoneNumber" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Birthdate</label>
                      <input type="date" formControlName="Dob" name="dateOfBirth" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Address</label>
                      <textarea formControlName="Address"></textarea>
                    </div>
                    <p>
                      Gender
                    </p>
                    <mat-radio-group class="input-radio" formControlName="Gender">
                      <span class="custom-radio">
                        <mat-radio-button type="radio" value="Nam" name="id_gender"></mat-radio-button>
                        Mr.
                      </span>
                      <span class="custom-radio">
                        <mat-radio-button type="radio" value="Nữ" name="id_gender"></mat-radio-button>
                        Mrs.
                      </span>
                      <span class="custom-radio">
                        <mat-radio-button type="radio" value="Khác" name="id_gender"></mat-radio-button>
                        Other
                      </span>
                    </mat-radio-group> <br>
                    <div class="save_button mt-3">
                      <button class="btn" type="submit">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="orders">
            <h4>Orders</h4>
            <div class="table_page table-responsive">
              <app-order-table></app-order-table>
            </div>
          </div>
          <div class="tab-pane fade" id="change-password">
            <div class="login">
              <div class="login_form_container">
                <div class="account_login_form">
                  <form [formGroup]="formChangePassword" (ngSubmit)="submitChangePassword()">
                    <div class="default-form-box mb-20">
                      <label>Old Password</label>
                      <input type="text" formControlName="OldPassword" name="oldPassword" />
                    </div>
                    <div class="default-form-box mb-20">
                      <label>New Password</label>
                      <input type="text" formControlName="NewPassword" type="text" name="newPassword" />
                    </div>
                    <div class="save_button mt-3">
                      <button class="btn" type="submit">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- account area start -->