<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <!-- Nav tabs -->
        <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
          <ul role="tablist" class="nav flex-column dashboard-list">
            <li>
              <a href="#account-details" data-bs-toggle="tab" class="nav-link">Thông tin tài khoản</a>
            </li>
            <li>
              <a href="#orders" data-bs-toggle="tab" class="nav-link">Đơn hàng của tôi</a>
            </li>
            <li *ngIf="!isSocialNetworkAccount">
              <a href="#change-password" data-bs-toggle="tab" class="nav-link">Đổi mật khẩu</a>
            </li>
            <li><a routerLink="/dang-xuat" class="nav-link">Đăng xuất</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-9">
        <!-- Tab panes -->
        <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
          <div class="tab-pane fade show active" id="account-details">
            <div class="login">
              <div class="login_form_container">
                <div class="account_login_form">
                  <form [formGroup]="formData" (ngSubmit)="submitForm()">
                    <div class="default-form-box mb-20">
                      <div class="title-required">
                        <label>Email</label>
                        <span class="text-red">(*)</span>
                      </div>
                      <input type="text" formControlName="Email" name="email" />
                    </div>
                    <div class="default-form-box mb-20">
                      <div class="title-required">
                        <label>Họ và tên</label>
                        <span class="text-red">(*)</span>
                      </div>
                      <input type="text" formControlName="FullName" name="fullName" />
                      <small *ngIf="formData.get('FullName')?.invalid &&formData.get('FullName')?.touched" class="text-danger"> * Họ và tên không được
                        bỏ trống! </small>
                    </div>
                    <div class="default-form-box mb-20">
                      <div class="title-required">
                        <label>Số diện thoại</label>
                        <span class="text-red">(*)</span>
                      </div>
                      <input type="text" formControlName="PhoneNumber" name="phoneNumber" />
                      <small *ngIf="formData.get('PhoneNumber')?.invalid && formData.get('PhoneNumber')?.touched" class="text-danger"> * Nhập đúng
                        định dạng số điện thoại </small>
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Ngày sinh</label>
                      <input type="date" formControlName="Dob" name="dob" />
                    </div>
                    <div class="default-form-box mb-20">
                      <div class="title-required">
                        <label>Địa chỉ</label> <span class="text-red">(*)</span>
                      </div>
                      <textarea formControlName="Address"></textarea>
                      <small *ngIf="formData.get('Address')?.invalid && formData.get('Address')?.touched" class="text-danger"> * Địa chỉ không được bỏ
                        trống! </small>
                    </div>
                    <p>Giới tính</p>
                    <mat-radio-group class="input-radio" formControlName="Gender">
                      <span class="custom-radio">
                        <mat-radio-button type="radio" value="Nam" name="id_gender"></mat-radio-button> Nam
                      </span>
                      <span class="custom-radio">
                        <mat-radio-button type="radio" value="Nữ" name="id_gender"></mat-radio-button> Nữ
                      </span>
                      <span class="custom-radio">
                        <mat-radio-button type="radio" value="Khác" name="id_gender"></mat-radio-button> Khác
                      </span>
                    </mat-radio-group>
                    <br />
                    <div class="save_button mt-3">
                      <button class="btn" type="submit">Lưu lại</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="orders">
            <div class="table_page table-responsive">
              <app-order-table></app-order-table>
            </div>
          </div>
          <div class="tab-pane fade" id="change-password">
            <div class="login">
              <div class="login_form_container">
                <div class="account_login_form">
                  <form [formGroup]="formChangePassword" (ngSubmit)="submitChangePassword()">
                    <div class="default-form-box mb-20">
                      <label>Mật khẩu cũ</label>
                      <input type="password" required formControlName="OldPassword" name="oldPassword" #oldPasswordControl
                        placeholder="Nhập mật khẩu cũ của bạn" />
                      <small *ngIf="formChangePassword.get('OldPassword')?.invalid &&formChangePassword.get('OldPassword')?.touched"
                        class="text-danger"> * Nhập mật khẩu cũ với ít nhất 5 ký tự! </small>
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Mật khẩu mới</label>
                      <input type="password" required formControlName="NewPassword" name="newPassword" placeholder="Nhập mật khẩu mới của bạn" />
                      <small *ngIf="formChangePassword.get('NewPassword')?.invalid &&formChangePassword.get('NewPassword')?.touched "
                        class="text-danger"> * Nhập mật khẩu mới với ít nhất 5 ký tự! </small>
                    </div>
                    <div class="default-form-box mb-20">
                      <label>Xác nhận mật khẩu</label>
                      <input type="password" required formControlName="ConfirmPassword" name="confirmPassword" (change)="rePasswordChange()"
                        placeholder="Xác nhận mật khẩu mới của bạn" />
                      <small *ngIf="formChangePassword.get('ConfirmPassword')?.invalid &&formChangePassword.get('ConfirmPassword')?.touched"
                        class="text-danger"> * Nhập lại mật khẩu với ít nhất 5 ký tự! </small>
                      <small *ngIf="formChangePassword.get('ConfirmPassword')?.value == formChangePassword.get('ConfirmPassword')?.value
                          && !isConfirmPasswordRight && formChangePassword.get('NewPassword')?.touched" class="text-danger"> * Mật khẩu không trùng
                        khớp! </small>
                    </div>
                    <div class="save_button mt-3">
                      <button class="btn" type="submit" [disabled]="formChangePassword.invalid && isConfirmPasswordRight"> Lưu lại </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- account area start -->
