::ng-deep .ant-picker-cell .ant-picker-cell-inner {
  border-radius: 5px !important;
}
::ng-deep .ant-picker-dropdown {
  font-size: 15px;
}

::ng-deep .ant-picker-content td,
.ant-picker-content th {
  font-weight: 500;
}
::ng-deep .ant-picker-header-view {
  font-weight: 700 !important;
}
::ng-deep .ant-picker-date-panel .ant-picker-content th {
  font-weight: 700;
}
.ant-select-selection-item {
  font-weight: 400 !important;
}
::ng-deep .ant-picker-input > input:placeholder-shown {
  font-size: 15px;
}
::ng-deep .ant-picker {
  border-radius: 5px !important;
  height: 40px;
}
::ng-deep .ant-picker-input > input {
  font-size: 15px;
  font-weight: 500;
}
