h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: #212b42 !important;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 15px;
}
b,
strong {
  font-weight: 500 !important;
}

.ant-btn-success {
  background-color: #1bbb10 !important;
  border-color: #14b709 !important;
  color: white !important;
}
.ant-btn-success:hover {
  background-color: #0eab03 !important;
  border-color: #099000 !important;
}
button + button {
  margin-left: 5px;
}
.table {
  width: 100%;
}

.table th {
  font-weight: 500;
}
.table.table-bordered th,
.table td {
  padding: 5px 10px;
  vertical-align: middle;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dcdcdc;
}

.text-black {
  color: #394868 !important;
}

.mg-b {
  margin-bottom: 10px !important;
}

.mg-b-lg {
  margin-bottom: 50px !important;
}
.mg-t {
  margin-top: 10px !important;
}
.mg-t-md {
  margin-top: 20px !important;
}
.mg-r {
  margin-right: 10px !important;
}
.mg-l {
  margin-left: 10px !important;
}

.ant-table {
  font-size: 14px !important;
}
.ant-table-thead > tr > th {
  background: #fff !important;
  color: #2a2a2a !important;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 4px 10px !important;
  border: none;
}
.ant-table-tbody > tr > td {
  color: #262729 !important;
}
.ant-pagination-item {
  border-radius: 50% !important;
}
table {
  border-collapse: collapse !important;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  height: 50px;
}
.ant-table-thead > tr > th {
  font-weight: 700 !important;
  font-size: 15px !important;
}
.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  border: 0.1px solid #e9e9e9 !important;
  align-items: center;
  border-radius: 50% !important;
}
.img-upload {
  max-width: 100%;
  height: 100%;
  border: 1px solid #dcdcdc;
  padding: 3px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  margin-bottom: 8px;
}
.no-wrap {
  white-space: nowrap !important;
}
.text-red {
  color: red;
  margin-left: 2px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.width-full {
  width: 100%;
}

.ant-col-4-8 {
  display: block;
  box-sizing: border-box;
  width: 20%;
  flex: 0 0 auto;
  float: left;
  position: relative;
  padding: 1px;
}

.ant-layout-sider,
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #394868 !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #2b354a !important;
}
.ant-layout-header {
  height: 60px !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
  top: 0;
  margin-top: 0;
  padding: 0 20px;
  border-color: #001529;
  border-bottom: 0;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  color: #3f87f5 !important;
}

.ant-menu-dark .ant-menu-submenu-selected {
  color: #2a2a2abf !important;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  height: 50px !important;
  margin: 0 !important;
}
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: transparent;
}

.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  color: #3f87f5 !important;
  background-color: #e9f1ff !important;
}
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
  background: #2a2a2abf !important;
}

.ant-menu-dark .ant-menu-submenu-title:hover,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow:hover::before,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow:hover::after,
.ant-menu.ant-menu-dark
  .ant-menu-submenu-title
  .ant-menu-submenu-arrow:hover::before,
.ant-menu.ant-menu-dark
  .ant-menu-submenu-title
  .ant-menu-submenu-arrow:hover::after {
  color: #3f87f5 !important;
  background-color: #3f87f51a !important;
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ant-menu {
  font-size: 15px !important;
  font-weight: 700 !important;
}
.ant-input {
  height: 24px;
}

.ant-row {
  margin-left: -2px;
  margin-right: -2px;
}

.ant-form-item {
  margin: 0 !important;
}

.ant-form-item-label {
  padding: 0 !important;
}
.ant-form-item-label > label {
  font-size: 13px !important;
}
.ant-breadcrumb-link {
  font-weight: 500;
}

.ant-form-item-label > label {
  font-size: 13px;
}
.ant-row > .ant-col {
  padding: 0 2px !important;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dcdcdc;
  vertical-align: middle;
}
.v-card {
  overflow: hidden;
}
.thumbnail {
  width: 100%;
  border: 1px solid #dcdcdc;
  padding: 1px;
  border-radius: 5px;
}

a.ant-btn {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px !important;
  align-items: center;
}

.anticon svg {
  position: relative;
  display: flex !important;
  justify-content: center;
}

.ant-modal-content {
  border-radius: 5px !important;
  overflow: hidden;
}

.ant-btn-primary {
  border-radius: 5px !important;
}
/* auth */

.body-auth {
  background-image: url(/assets/imgs/bg-auth.jpg);
  background-repeat: no-repeat;
  font-size: 14px;
  min-height: 100%;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}

.box-auth {
  max-width: 350px;
  margin: 0 auto;
  background: white;
  opacity: 0.95;
  margin-top: 40px;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 18%);
  padding: 15px 22px 20px;
}

.body-auth .box-auth {
  margin-top: 80px;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

/* ----------------------------------------------- */
.img-product {
  height: 60px;
  width: 60px;
  border: 0.1px solid #dcdcdc;
  padding: 2px;
}

.img-product-select {
  height: 30px;
  border: 1px solid #dcdcdc;
  padding: 2px;
}

/* ----------------------------- */
