:host ::ng-deep div img.lazyloaded {
  max-width: 100%;
}

.section-title-product-detail {
  padding-top: 50px;
  line-height: 2;
}
.pb-50px {
  padding-bottom: 50px;
}
.title-des {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  display: inline-block;
  color: #000000;
  margin: 0 0 28px;
  line-height: 34px;
  font-size: 36px;
}
.old-price-product-detail {
  font-size: 30px !important;
  color: #000000;
  line-height: 37px !important;
  font-weight: 400 !important;
  padding-right: 40px;
  opacity: 0.4;
  text-decoration: line-through;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.small_img_prev {
  width: 100%;
  text-align: center;
}
.small_img_prev li {
  margin: 15px 7px 0 7px;
  display: inline-block;
}
.small_img {
  width: 100px;
  height: 115px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.5;
}
.small_img:hover {
  border: 1px solid #e2e2e2;
  opacity: 1;
  transform: scaleY(1.05);
}

.active_small_img {
  border: 1px solid #e2e2e2;
  opacity: 1;
}
.big_img {
  position: relative;
  width: 570px;
  height: 675px;
  border-radius: 7px;
  border: 2px solid #e2e2e2;
}

@media only screen and (min-width: 1200px) and (max-width: 1216px) {
  .small_img {
    width: 100px;
    height: 115px;
  }
  .small_img_prev li {
    margin: 15px 6px 0 6px;
    display: inline-block;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .big_img {
    width: 450px;
    height: 531px;
  }
  .small_img {
    width: 80px;
    height: 95px;
  }
  .small_img_prev li {
    margin: 15px 5px 0 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .big_img {
    width: 690px;
    height: 685px;
  }
  .small_img {
    width: 115px;
    height: 130px;
  }
  .small_img_prev li {
    margin: 15px 7px 0 7px;
  }
}
@media only screen and (max-width: 767px) {
  .big_img {
    width: 500px;
    height: 592px;
  }
  .small_img {
    width: 90px;
    height: 105px;
  }
  .small_img_prev li {
    margin: 15px 5px 0 5px;
  }
}
@media only screen and (max-width: 550px) {
  .big_img {
    width: 420px;
    height: 500px;
  }
  .small_img {
    width: 80px;
    height: 95px;
  }
  .small_img_prev li {
    margin: 15px 3px 0 3px;
  }
}

/* @media only screen and (max-width: 480px) {
  .big_img {
    position: relative;
    width: 100%;
    transition-duration: 0ms;
    height: 80%;
  }
  .small_img {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .small_img_prev li {
    position: relative;
    margin: 15px 3px 0 3px;
    max-width: 100%;
    max-height: 20%;
  }
} */
