<!-- Product Details Area Start -->
<div class="product-details-area pt-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-12 mb-sm-30px">
        <!-- Swiper -->
        <div class="swiper">
          <img [src]="product.Image | hostImageClient" class="big_img" />
          <ul class="small_img_prev">
            <li
              *ngFor="let productImage of product.ProductImages"
              (click)="showImg(productImage.Image)"
            >
              <img
                [src]="productImage.Image | hostImageClient"
                class="small_img"
              />
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-6 col-sm-12 col-xs-12"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="product-details-content quickview-content ml-25px">
          <h2>{{ product.Name }}</h2>
          <div class="pricing-meta d-flex">
            <ul class="d-flex">
              <li class="old-price-product-detail">
                ${{ product.Price | number }}
              </li>
            </ul>
            <ul class="d-flex">
              <li class="new-price">${{ product.DiscountPrice | number }}</li>
            </ul>
          </div>
          <div class="pro-details-rating-wrap">
            <ngb-rating [max]="5" [readonly]="true" [rate]="product.RateAvg">
              <ng-template let-fill="fill">
                <span class="defaultHert" [class.filled]="fill === 100">
                  <span class="paintHeart" [style.width.%]="fill">
                    &#9733;
                  </span>
                  &#9733;
                </span>
              </ng-template>
            </ngb-rating>

            <span class="rate-avg">({{ product.RateAvg }}) </span>
          </div>
          <div class="mt-30px">
            <div [innerHTML]="product.ShortDescription"></div>
          </div>
          <div
            class="pro-details-color-size d-flex"
            *ngFor="let attributes of product?.Attributes"
          >
            <!-- Right Side Start -->
            <div class="select-shoing-wrap d-flex align-items-center">
              <div class="shot-product">
                <p>{{ attributes.Name }}:</p>
              </div>
              <div class="shop-select">
                <select
                  class="shop-sort"
                  #attributeSelected
                  (change)="
                    chooseAttribute(attributes.ProductAttributes, $event)
                  "
                >
                  <!-- <option data-display="Balck">Balck</option> -->
                  <option
                    [value]="index"
                    *ngFor="
                      let item of attributes.ProductAttributes;
                      index as index
                    "
                  >
                    {{ item.Value }}
                  </option>
                </select>
              </div>
            </div>
            <!-- Right Side End -->
          </div>
          <div
            class="pro-details-categories-info pro-details-same-style d-flex m-0"
          >
            <span>Quantity:</span>
            <ul class="d-flex">
              <li>
                <a>{{ product.Quantity }}</a>
              </li>
            </ul>
          </div>
          <div *ngIf="product.Quantity > 0; else qtyNotAvailable">
            <div class="pro-details-quality">
              <div class="wrapper">
                <button class="plusminus-minus" (click)="handleMinus()">
                  -
                </button>
                <input
                  type="number"
                  class="number-input"
                  value="1"
                  [(ngModel)]="qty"
                  (change)="handleInputQuantity()"
                />
                <button class="plusminus-plus" (click)="handlePlus()">+</button>
              </div>
              <div class="pro-details-cart">
                <button (click)="addToCart()" class="add-cart">
                  Add To Cart
                </button>
              </div>
              <div class="pro-details-cart">
                <button (click)="buyNow()" class="add-cart">Buy Now</button>
              </div>
            </div>
          </div>
          <ng-template #qtyNotAvailable>
            <div class="pro-details-quality">
              <div class="out-of-stock-wrap">
                <span class="out-of-stock"> Out of Stock </span>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- product details description area start -->
        <div class="description-review-wrapper">
          <div class="description-review-topbar nav">
            <button
              data-bs-toggle="tab"
              class="active"
              data-bs-target="#des-details1"
            >
              Information
            </button>
            <button data-bs-toggle="tab" data-bs-target="#des-details2">
              Reviews (02)
            </button>
          </div>

          <div class="tab-content description-review-bottom">
            <div id="des-details1" class="tab-pane active">
              <div class="product-anotherinfo-wrapper text-start">
                <ul>
                  <li><span>Weight</span> 400 g</li>
                  <li><span>Dimensions</span>10 x 10 x 15 cm</li>
                  <li><span>Materials</span> 60% cotton, 40% polyester</li>
                  <li>
                    <span>Other Info</span> American heirloom jean shorts pug
                    seitan letterpress
                  </li>
                </ul>
              </div>
            </div>

            <div id="des-details2" class="tab-pane">
              <div class="row">
                <div class="col-lg-12">
                  <div class="review-wrapper">
                    <div
                      class="single-review"
                      *ngFor="let review of product.Reviews"
                    >
                      <div class="review-content">
                        <div class="review-top-wrap">
                          <div class="review-left">
                            <div class="review-name">
                              <h4>{{ review.CreatedBy }}</h4>
                            </div>
                            <ngb-rating
                              [max]="5"
                              [readonly]="true"
                              [rate]="review.Star"
                            >
                              <ng-template let-fill="fill">
                                <span
                                  class="defaultHert-review"
                                  [class.filled]="fill === 100"
                                >
                                  <span
                                    class="paintHeart"
                                    [style.width.%]="fill"
                                  >
                                    &#9733;
                                  </span>
                                  &#9733;
                                </span>
                              </ng-template>
                            </ngb-rating>
                          </div>
                        </div>
                        <div class="review-bottom">
                          <p>
                            {{ review.Content }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Description Area -->
<div class="product-area related-product pb-50px">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-product-detail">
          <h2 class="title-des">Description</h2>
          <div [innerHTML]="product.Description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area Start -->
<div class="product-area related-product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center m-0">
          <h2 class="title">Related Products</h2>
          <p>There are many variations of passages of Lorem Ipsum available</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="tab-content mt-60px">
          <div class="tab-pane fade show active" id="newarrivals">
            <div class="row mb-n-30px">
              <div
                class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px"
                *ngFor="let productRelated of product.ProductRelateds"
              >
                <app-product-template
                  [product]="productRelated.Product"
                ></app-product-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End -->
