nz-layout {
  height: 100%;
}

.logo {
  height: 60px;
  border-bottom: 0.1px solid #00000012;
  padding: 8px 20px;
}
nz-sider {
  background: #fff !important;
  box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgba(0, 0, 0, 0.014);
}
nz-sider ul {
  background: #fff !important;
  color: #2a2a2abf !important;
}
li.ant-menu-item {
  color: #2a2a2abf !important;
}

.ant-menu-item {
  background-color: #fff;
}
div.ant-menu-submenu-title {
  color: #2a2a2abf !important;
}
::ng-dep .ant-menu-submenu-title:hover {
  color: #3f87f5 !important;
  background-color: #fff !important;
}
li.ant-menu-item:hover {
  color: #3f87f5 !important;
  background-color: #e9f1ff !important;
}

::ng-deep .ant-layout-sider-children {
  border-right: 0.1px solid #00000012;
}
nz-header {
  background: #fff !important;
  padding: 0 !important;
  border-bottom: 0.1px solid #00000012;
  overflow: hidden;
  box-shadow: 0 7px 14px 0 rgb(65 69 88 / 5%), 0 3px 6px 0 rgb(0 0 0 / 1%);
}
.ant-layout-header .ant-menu {
  line-height: 50px !important;
  float: right;
}
.ant-layout-header .ant-menu i {
  color: #2a2a2abf;
}

.trigger {
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
  transition: color 0.3s;
  color: #2a2a2abf;
  position: absolute;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.trigger:hover,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #3f87f5 !important;
  background-color: #629cf336 !important;
}

nz-content {
  margin: 24px 24px;
  background: #fff;
  padding: 24px;
  overflow: auto;
  border: 0.1px solid #00000012;
  border-radius: 5px;
  box-shadow: 0 7px 14px 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgba(0, 0, 0, 0.014);
}

nz-content::-webkit-scrollbar {
  width: 5px;
}

nz-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e2e2e2;
  border-radius: 5px;
}

nz-content::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}

.ant-layout-sider:not(.ant-layout-sider-collapsed) {
  max-width: 220px !important;
  min-width: 280px !important;
}
.ant-layout {
  background: #f9fbfd;
}
.menu-left {
  max-height: 100%;
  overflow: auto;
  padding-bottom: 50px;
}

.menu-left::-webkit-scrollbar {
  width: 5px;
}

.menu-left::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e2e2e2;
  border-radius: 5px;
}

.menu-left::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}
::ng-deep .ant-menu-item-selected {
  background-color: #629cf336 !important;
  color: #89181800 !important;
}

.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: #3f87f5 !important;
}

.ant-menu-dark .ant-menu-submenu-open {
  color: #2a2a2abf !important;
}
.ant-breadcrumb {
  margin: 20px 0 0 30px;
}
::ng-deep .ant-breadcrumb-separator {
  font-size: 14px;
  font-weight: 700;
}
