.send-request {
  margin-bottom: 30px;
}

.send-request span {
  margin-left: 8px;
}

.ant-table-header {
  margin-right: 15px;
}

:host ::ng-deep tbody tr {
  height: auto;
}
a.ant-btn {
  display: inline-block;
}
.header-content {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
::ng-deep .ant-input-prefix {
  margin-right: 0px !important;
}
.ant-input-affix-wrapper {
  border-radius: 5px;
  font-size: 15px !important;
  height: 40px;
}

.ant-input-affix-wrapper > input.ant-input {
  height: auto;
}
::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px !important;
}
::ng-deep
  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 40px !important;
  padding: 4px 16px;
}

::ng-deep .ant-pagination-item a {
  margin-right: 0;
}
::ng-deep .ant-table-column-sorter {
  color: #fff !important;
}

::ng-deep .ant-table-filter-trigger {
  color: #fff !important;
}

::ng-deep .ant-checkbox {
  border: 1px solid #fff;
  border-radius: 5px;
}
::ng-deep .ant-checkbox-indeterminate .ant-checkbox-inner::after {
  left: 50% !important;
}
::ng-deep .ant-table-pagination.ant-pagination {
  margin: 16px 0 0 0 !important;
}
