<div class="send-request">
    <button nz-button nzType="primary" [disabled]="setOfCheckedId.size === 0" [nzLoading]="loading" nzDanger
        (click)="deleteList()">
        Xóa mục đã chọn
    </button>
    <span>Đã chọn {{ setOfCheckedId.size }}</span>
</div>
<nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listOfData" nzTableLayout="fixed"
    [nzSize]="tableSize" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    [nzScroll]="{ x: '80vh', y: '45vh' }">
    <thead>
        <tr>
            <ng-container *ngIf="multiColSelect">
                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" class="text-center" width="40px"
                    (nzCheckedChange)="onAllChecked($event)"></th>
            </ng-container>
            <th *ngFor="let item of columnsTable" class="{{item.textClass != null? item.textClass : 'text-center'}}"
                [(nzSortOrder)]="item.sortOrder" [nzSortFn]="item.sortFn" [nzFilters]="item.listOfFilter"
                [nzFilterFn]="item.filterFn">
                {{item.name}}
            </th>
            <ng-container *ngIf="editDeleteAction">
                <th class="text-center"> Hành động </th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of  rowSelectionTable.data">
            <ng-container *ngIf="multiColSelect">
                <td [nzChecked]="setOfCheckedId.has(data.Id)" [nzDisabled]="data.disabled"
                    (nzCheckedChange)="onItemChecked(data.Id, $event)"></td>
            </ng-container>

            <td *ngFor="let item of columnsTable" class="{{item.textClass != null? item.textClass : 'text-center'}}">
                <ng-container *ngIf=" item.type == 'image'; else notImage">
                    <img *ngIf="item.prop == 'ImageCloudLink'; else notCloudImg"
                        [src]="data.ImageCloudLink | pipeHostImage" alt="" class="img-product">
                    <ng-template #notCloudImg>
                        <img [src]="data.Image | pipeHostImage" alt="" class="img-product">
                    </ng-template>
                </ng-container>
                <ng-template #notImage>
                    {{item._subprop == null? data?.[item.prop] : data?.[item.prop]?.[item._subprop]}}
                </ng-template>
            </td>
            <ng-container *ngIf="editDeleteAction">
                <td class="text-center">
                    <button class="m-r-5" (click)="showDetail(data)" nz-button nzType="default" nzShape="circle"
                        nz-tooltip nzTooltipTitle="Edit">
                        <i nz-icon nzType="edit" theme="outline"></i>
                    </button>
                    <button nz-button nz-popconfirm nzPopconfirmTitle="Xác nhận xóa?"
                        (nzOnConfirm)="onClickDelete(data)" nzPopconfirmPlacement="topRight" nzType="default" nzDanger
                        nzShape="circle" nz-tooltip nzTooltipTitle="Delete">
                        <i nz-icon nzType="delete" theme="outline"></i>
                    </button>
                </td>
            </ng-container>

        </tr>
    </tbody>
</nz-table>