<!-- ChangeTheme -->

<div class="product">
  <div class="thumb">
    <a routerLink="/san-pham/{{ product.Alias }}" class="image">
      <img [src]="(product.ImageCloudLink != null ? product.ImageCloudLink : product.Image) | hostImageClient" alt="Product" />
    </a>
  </div>
  <div class="content">
    <!-- <span class="category"><a href="#">Accessories</a></span> -->
    <h5 class="title">
      <a routerLink="/san-pham/{{ product.Alias }}">
        {{ product.Name }}
      </a>
    </h5>
    <span class="price">
      <span class="old">{{ product.Price | number }}đ</span>
      <span class="new">{{ product.DiscountPrice | number }}đ</span>
    </span>
  </div>

  <div *ngIf="product.Quantity > 0; else QuantityNotAvailable">
    <div class="actions">
      <button
        title="Add To Cart"
        class="action add-to-cart"
        (click)="addToCart()"
      >
        <span>Thêm vào giỏ</span>
      </button>
    </div>
  </div>
  <ng-template #QuantityNotAvailable>
    <div class="actions">
      <div title="Add To Cart" class="quantityNotAvailable">
        <span>Đang hết hàng</span>
      </div>
    </div>
  </ng-template>
</div>
