<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="320" [nzVisible]="visible"
  [nzTitle]="isAddNew?'Thêm mới':'Thông tin chi tiết'" [nzFooter]="footerTpl" (nzOnClose)="close()">
  <form nz-form *nzDrawerContent nzLayout="vertical" [formGroup]="formData" (ngSubmit)="submit()">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired>Tên thuộc tính </nz-form-label>
          <nz-form-control nzErrorTip="Không được để trống!">
            <input type="text" nz-input nzSize="small" formControlName="Name" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <ng-template #footerTpl>
    <div style="float: right">
      <button style="border-radius:5px; height: 40px;" nz-button (click)="close()">Hủy</button>
      <button (click)="submit()" nz-button nzType="primary" style="height: 40px;">Lưu lại</button>
    </div>
  </ng-template>
</nz-drawer>
